.personal_section_l{
    margin: 2vw;
    display: flex;
    justify-content: start;

    position: relative;
    top: .2vw;

    color: var(--main-pink);
    text-align: center;
    font-family: Jomhuria;
    font-size: 10vw;
    font-style: normal;
    font-weight: 400;
    line-height: 30%;
}

.project_card {
    width: 25vw;
    height: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2vw;
    overflow: hidden;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 0;
    margin: 0;

    position: relative;
    top: 0;
}

.project_card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

@media (max-width: 768px) {
  .project_card {
    width: 75vw;
    height: 40vw;
  }

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Or 'contain' depending on your preference */
  }

  .project_card:hover {
    transform: scale(1);;
}
}
