.footer {
    padding: 2vw;
    margin: 2vw 0 0 0 ;
}

.baseicons {
    width: 20vw;
    display: flex;
    justify-self: flex-end;
    justify-content: space-between;
}

img {
    padding: 0;
    margin: 0;
}

.icons {
    width: 5vw;
    display: flex;
    align-self: center;
}